  <div class="navigation">
    <div class="menu-button-open">   
      <span onclick="openNav()"><i class="material-icons">more_horiz</i></span>
    </div>
    {{ page.header }}
    {{ page.primary_menu }}
  </div>

  <header class="animated fadeInUp">
    <div class="container">
      {{ page.subheader }}
    </div>
  </header>

  <div class="container animated fadeInUp">
      {{ page.content }}
  </div>


  <footer class="animated fadeInUp">
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
