{% extends 'layout.twig' %}

{% block title %}
    {{ pageData.title }}
{% endblock %}

{% block article %}
<div class="container">
    <div class="row">
        {% for experience in experiences %}
            {% if loop.index0 is even %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 infoblock">
                    <h2 class="infoblock-title">{{ experience.title }}</h2>
                    <p class="infoblock-text">{{ experience.description }}</p>
                    <p class="infoblock-name">{{ experience.name }}</p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 infoblock infoblock-image">
                    <img src="/assets/images/{{ experience.imageUrl }}">
                </div>
            {% endif %}
            {% if loop.index0 is odd %}
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 infoblock infoblock-image">
                    <img src="/assets/images/{{ experience.imageUrl }}">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 infoblock">
                    <h2 class="infoblock-title">{{ experience.title }}</h2>
                    <p class="infoblock-text">{{ experience.description }}</p>
                    <p class="infoblock-name">{{ experience.name }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}



